S3method("-",tabplot)
S3method(plot,tabplot)
S3method(print,tabplot)
S3method(summary,tabplot)
export(bin_data)
export(bin_hcc_data)
export(datetime2fac)
export(itableplot)
export(num2fac)
export(tableChange)
export(tablePalettes)
export(tablePrepare)
export(tableSave)
export(tableplot)
import(ffbase)
import(grid)
