import(ffbase)
S3method(plot,tabplot)
S3method(print,tabplot)
S3method(summary,tabplot)
export(bin_data)
export(datetime2fac)
export(num2fac)
export(prepare)
export(tableChange)
export(tablePalettes)
export(tableSave)
export(tableplot)
export(tableplot_checkBins)
export(tableplot_checkCols)
export(tableplot_checkDecreasing)
export(tableplot_checkFromTo)
export(tableplot_checkPals)
export(tableplot_checkScales)
