export(bin_data)
export(bin_hcc_data)
export(datetime2fac)
export(num2fac)
export(tableApp)
export(tableChange)
export(tablePalettes)
export(tableplot)
export(tablePrepare)
export(tableSave)
import(ffbase)
S3method(plot,tabplot)
S3method(print,tabplot)
S3method(summary,tabplot)
